* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-image: url("./assets/bg2.png");
	background-position: center center;
}

#key {
	border: black 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	border-radius: 8px;
	margin-top: 1rem;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	color: #ffffff; /* White text for contrast */
	padding: 5px; /* Spacing around text */
	border-radius: 5px; /* Rounded corners */
}

#key div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4px;
}

#key img {
	height: 40px;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
}

#screen-container {
	display: flex;
	align-self: center;
}

#screen-container #player-score {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex: 1;
	height: 25%;
	border: black 1px solid;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	color: #ffffff; /* White text for contrast */
	padding: 5px; /* Spacing around text */
	border-radius: 5px; /* Rounded corners */
}

#screen-container #computer-score {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex: 1;
	height: 25%;
	border: black 1px solid;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	color: #ffffff; /* White text for contrast */
	padding: 5px; /* Spacing around text */
	border-radius: 5px; /* Rounded corners */
}

#screen {
	border: black 1px solid;
	box-shadow: 5px 5px 5px black;
	border-radius: 8px;
	height: auto;
	width: 620px;
	flex: 4;
	margin: 0.75rem;
}

#screen img {
	border-radius: 8px;
	height: 100%;
	width: 100%;
}

#controls-container {
	display: flex;
	align-self: center;
}

#controls-container button {
	border: black 1px solid;
	box-shadow: 5px 5px 5px black;
	border-radius: 8px;
	height: 50px;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
}

#controls-container img {
	background-color: slategray;
	height: 100%;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
}

.modal {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: aqua;
	border-radius: 8px;
	height: 340px;
	width: 600px;
}
