* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: black;
}

#key {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	background-color: red;
	border-radius: 8px;
}

#key div {
	border: orange 6px solid;
	display: flex;
	justify-content: center;
	background-color: pink;
	margin: 4pxrem;
}

#key img {
	height: 40px;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
}

#screen-container {
	display: flex;
	align-self: center;
	background-color: green;
}

#screen-container #player-score {
	flex: 1;
	background-color: aqua;
}

#screen-container #computer-score {
	flex: 1;
	background-color: aqua;
}

#screen {
	align-self: center;
	background-color: green;
	border-radius: 8px;
	height: auto;
	width: 700px;
	flex: 4;
	margin: 2rem;
}

#screen img {
	height: 100%;
	width: 100%;
}

#controls-container {
	display: flex;
	align-self: center;
	background-color: greenyellow;
}

#controls-container button {
	height: 50px;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
}

#controls-container img {
	height: 100%;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
}
